@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Barlow:wght@300;400;500;600&family=Barlow+Condensed:wght@400;600;700&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --bg: #080a0e;
  --bg2: #0f1218;
  --bg3: #161b24;
  --bg4: #1e2530;
  --gold: #c9a84c;
  --gold2: #f0c96a;
  --text: #e8eaf0;
  --muted: #8892a4;
  --radius: 6px;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "Barlow", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
}

.movie-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.movie-scrollbar::-webkit-scrollbar-track {
  background: #0f1218;
  border-radius: 10px;
}

.movie-scrollbar::-webkit-scrollbar-thumb {
  background: #c9a84c;
  border-radius: 10px;
}

.movie-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f0c96a;
}
